amqp==2.2.2
billiard==3.5.0.3
cairocffi==0.8.0
CairoSVG==2.1.1
celery==5.2.2
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cssselect2==0.2.1
defusedxml==0.5.0
Django==1.8.6
django-paypal==0.4.1
django-rosetta==0.7.13
html5lib==0.999999999
idna==2.6
kombu==4.1.0
microsofttranslator==0.8
olefile==0.44
pdfrw==0.4
Pillow==4.3.0
polib==1.0.8
pycparser==2.18
Pyphen==0.9.4
pytz==2017.3
requests==2.18.4
six==1.11.0
tinycss2==0.6.1
urllib3==1.22
vine==1.1.4
WeasyPrint==0.41
webencodings==0.5.1
