{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% trans "My shop" %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">{% trans "My shop" %}</a>
    </div>
    <div id="subheader">
        <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
            {% trans "Your cart:" %} <a href="{% url 'cart:cart_detail' %}">{% blocktrans with total_items_plural=total_items|pluralize
            total_price=cart.get_total_price %}
            {{ total_items }} item{{ total_items_plural }},
            ${{ total_price }}{% endblocktrans %}</a>
            {% else %}
            {% trans "Your cart is empty." %}
            {% endif %}
        {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>